@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<p>@token</p>

<button class="btn btn-primary" @onclick="getToken">GetToken</button>
<button class="btn btn-primary" @onclick="getItem">Get Item</button>


Welcome to your new app.
